/* Background.css */
#tsparticles {
    position: absolute;
    /* sayfa boyunca */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* diğer içeriklerin arkasında kalması için */
}