.footer {background: #090909;
  color: #888;
  padding: 2rem 1rem;
  text-align: center;
}

.footer-container {
  max-width: 1100px;
  margin: 0 auto;
}

.footer p {
  margin-bottom: 1rem;
  font-size: 0.9rem;
}

.footer-socials {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.footer-socials a {
  color: #37311c;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-socials a:hover {
  color: #b6a887;
}
