.hero {
  color: white;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1100px;
  width: 90%;
  margin: auto;
  gap: 3rem;
}

.hero-text {
  flex: 1;
}

.hero-text h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  color: #a59659;
}

.hero-text h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.hero-text p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  line-height: 1.5;
}

.hero-buttons .btn-primary,
.hero-buttons .btn-secondary {
  display: inline-block;
  padding: 0.8rem 1.5rem;
  margin-right: 0.8rem;
  border-radius: 5px;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.3s ease;
}

.btn-primary {
  background: #898160;
  color: #111;
}

.btn-primary:hover {
  background: #362f1d;
}

.btn-secondary {
  border: 2px solid white;
  color: white;
}

.btn-secondary:hover {
  background: rgba(255, 255, 255, 0.2);
}

.hero-photo {
  flex: 0.7;
  display: flex;
  justify-content: center;
}

.hero-photo img {background: #171717;
  width: 380px;
  height: 480px;
  object-fit: cover;
  border-radius: 12px;
  border: 1px solid #636156;
  box-shadow: 0 4px 20px rgba(0,0,0,0.7);
}

/* ==================== Animasyonlar ==================== */
.fade-in {
  animation: fadeIn 1s ease forwards;
  opacity: 0;
}

.fade-in-up {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s ease forwards;
}

.delay-1 { animation-delay: 0.5s; }
.delay-2 { animation-delay: 1s; }
.delay-3 { animation-delay: 1.5s; }

@keyframes fadeIn {
  to { opacity: 1; }
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
