.navbar {position: fixed;
  background: #090909;
  top: 0;
  width: 100%;
  padding: 1rem 2rem;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0,0,0,0.5);
}
.nav-links a {
  color: rgb(218, 182, 123);
  text-decoration: none;
  margin: 0 10px;
  transition: color 0.3s;
}

.nav-links a.active {
  color: #f5c70d;
}

.logo-icon {
  width: 30px;
  height: 30px;
  fill: #8e8560;
}

.navbar-container {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #bcad71;
}

.nav-links {
  display: flex;
  gap: 2rem;
  list-style: none;
}



.nav-links a:hover {
  color: #b4b4ad;
}


