/* ================= Global Reset ================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

/* ================= Mobile Responsive ================= */
@media (max-width: 768px) {

  /* Navbar */
  .navbar-container {
    padding: 1rem;
  }
  .nav-links {
    gap: 1rem;
    justify-content: center;
  }

  /* Hero */
  .hero-content {
    flex-direction: column; /* foto üstte, yazı altta */
    text-align: center;
    gap: 2rem;
    padding: 2rem 1rem;
  }

  .hero-photo img {
    width: 200px;
    height: 200px; /* mobilde biraz küçült */
  }

  .hero-text h1 { font-size: 2rem; }
  .hero-text h2 { font-size: 1.5rem; }
  .hero-text p { font-size: 1rem; }

  .hero-buttons .btn-primary,
  .hero-buttons .btn-secondary {
    padding: 0.6rem 1.2rem;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
  }

}
@media (max-width: 480px) {

  /* Navbar */
  .navbar{
    padding: 0;
    margin: 0;
  }
  .logo { font-size: 1.3rem;
   padding:0 }

  /* Hero Fotoğraf */
  .hero-photo img {
    width: 140px;
    height: 140px;
  }

  /* Hero Yazılar */
  .hero-text h1 { font-size: 1.8rem; }
  .hero-text h2 { font-size: 1.2rem; }
  .hero-text p { font-size: 0.9rem; }

  /* Buttons */
  .hero-buttons .btn-primary,
  .hero-buttons .btn-secondary {
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
  }

  /* Sectionlar */
  section h2 { font-size: 1.8rem; }
  section p, section li { font-size: 0.9rem; }
  .projects{
    padding: 0;
  }
}